n8n-workflows/02-order-confirmation-processor.json
{
  "name": "02 - Order Confirmation Processor",
  "nodes": [
    {
      "parameters": {
        "path": "confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "order-confirmation"
    },
    {
      "parameters": {
        "jsCode": "// Parse confirmation message from WhatsApp\nconst message = $input.first().json.body.message.conversation || '';\n\n// Extract order ID from message\n// Examples: \"Confirm #1234\", \"Delivered order 1234\", \"✅ 1234\"\nconst orderIdMatch = message.match(/#?(\\d+)/);\nconst orderId = orderIdMatch ? orderIdMatch[1] : null;\n\n// Extract driver info\nconst driverId = $input.first().json.body.key.remoteJid.split('@')[0];\n\n// Determine action type\nlet action = 'confirm';\nif (message.toLowerCase().includes('issue') || message.toLowerCase().includes('problem')) {\n  action = 'issue';\n} else if (message.toLowerCase().includes('failed')) {\n  action = 'failed';\n}\n\nreturn {\n  orderId,\n  driverId,\n  action,\n  originalMessage: message,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-message",
      "name": "Parse Confirmation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{$json.orderId}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-order-id",
      "name": "Validate Order ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_URL}}/api/orders/confirm",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orderId",
              "value": "={{$json.orderId}}"
            },
            {
              "name": "notes",
              "value": "={{$json.originalMessage}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json.timestamp}}"
            }
          ]
        },
        "options": {}
      },
      "id": "confirm-order-api",
      "name": "Confirm Order via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{$env.WHATSAPP_API_URL}}/message/sendText/{{$env.WHATSAPP_INSTANCE}}",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.WHATSAPP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$json.driverId}}"
            },
            {
              "name": "text",
              "value": "={{$json.data.formattedMessage}}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-success-message",
      "name": "Send Success Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{$env.WHATSAPP_API_URL}}/message/sendText/{{$env.WHATSAPP_INSTANCE}}",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.WHATSAPP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$json.driverId}}"
            },
            {
              "name": "text",
              "value": "⚠️ *Invalid order number*\\n\\nPlease use the correct format:\\n• \\\"Confirm #1234\\\"\\n• \\\"#1234\\\""
            }
          ]
        },
        "options": {}
      },
      "id": "send-error-message",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \\\"success\\\": true, \\\"message\\\": \\\"Order confirmed\\\" } }}",
        "options": {}
      },
      "id": "webhook-response-success",
      "name": "Webhook Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \\\"success\\\": false, \\\"error\\\": \\\"Invalid order ID\\\" } }}",
        "options": {}
      },
      "id": "webhook-response-error",
      "name": "Webhook Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Confirmation Message", "type": "main", "index": 0 }]]
    },
    "Parse Confirmation Message": {
      "main": [[{ "node": "Validate Order ID", "type": "main", "index": 0 }]]
    },
    "Validate Order ID": {
      "main": [
        [{ "node": "Confirm Order via API", "type": "main", "index": 0 }],
        [{ "node": "Send Error Message", "type": "main", "index": 0 }]
      ]
    },
    "Confirm Order via API": {
      "main": [[{ "node": "Send Success Message", "type": "main", "index": 0 }]]
    },
    "Send Success Message": {
      "main": [[{ "node": "Webhook Response Success", "type": "main", "index": 0 }]]
    },
    "Send Error Message": {
      "main": [[{ "node": "Webhook Response Error", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-06T00:00:00.000Z",
  "versionId": "1"
}
