n8n-workflows/03-emergency-order-alerts.json
{
  "name": "03 - Emergency Order Alerts",
  "nodes": [
    {
      "parameters": {
        "path": "emergency",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-emergency",
      "name": "Webhook Trigger (SaaS Platform)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "emergency-alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.priority}}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "validate-urgency",
      "name": "Validate Urgency Level",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_URL}}/api/orders/{{$json.body.orderId}}",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-order-details",
      "name": "Fetch Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format emergency alert message\nconst order = $input.first().json.data.order;\n\nconst message = `🚨 *URGENT ALERT* 🚨\\n\\nNew priority order!\\n\\n━━━━━━━━━━━━━━━━━━\\n\\n📦 *Order #${order.id}*\\n\\n🏠 ${order.address.street}, ${order.address.number}\\n${order.address.city} - ${order.address.state}\\n\\n👤 Customer: ${order.customer.name}\\n📱 ${order.customer.phone}\\n\\n⏰ Deliver by: ${new Date(order.deliveryWindow.end).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false })}\\n💰 Amount: R$ ${order.totalValue.toFixed(2)}\\n\\n${order.notes ? `⚠️ *ATTENTION*: ${order.notes}\\n\\n` : ''}━━━━━━━━━━━━━━━━━━\\n\\nType *\\\"Order #${order.id}\\\"* for complete details`;\n\nreturn {\n  driverId: order.driverId,\n  message,\n  orderId: order.id,\n  priority: order.priority\n};"
      },
      "id": "format-alert-message",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{$env.WHATSAPP_API_URL}}/message/sendText/{{$env.WHATSAPP_INSTANCE}}",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.WHATSAPP_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$json.driverId}}"
            },
            {
              "name": "text",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "send-whatsapp-alert",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log alert sent\nconst order = $input.first().json;\n\nconsole.log(`🚨 Emergency alert sent for order ${order.orderId} to driver ${order.driverId}`);\n\nreturn {\n  success: true,\n  orderId: order.orderId,\n  driverId: order.driverId,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "log-alert-sent",
      "name": "Log Alert Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log non-urgent order\nconst body = $input.first().json.body;\n\nconsole.log(`ℹ️ Non-urgent order ${body.orderId}, no alert sent`);\n\nreturn {\n  success: true,\n  orderId: body.orderId,\n  priority: body.priority,\n  reason: 'Not urgent',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "log-not-urgent",
      "name": "Log Not Urgent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \\\"success\\\": true, \\\"message\\\": \\\"Alert sent\\\" } }}",
        "options": {}
      },
      "id": "webhook-response-success",
      "name": "Webhook Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \\\"success\\\": true, \\\"message\\\": \\\"Order not urgent, no alert sent\\\" } }}",
        "options": {}
      },
      "id": "webhook-response-not-urgent",
      "name": "Webhook Response Not Urgent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook Trigger (SaaS Platform)": {
      "main": [[{ "node": "Validate Urgency Level", "type": "main", "index": 0 }]]
    },
    "Validate Urgency Level": {
      "main": [
        [{ "node": "Fetch Order Details", "type": "main", "index": 0 }],
        [{ "node": "Log Not Urgent", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Order Details": {
      "main": [[{ "node": "Format Alert Message", "type": "main", "index": 0 }]]
    },
    "Format Alert Message": {
      "main": [[{ "node": "Send WhatsApp Alert", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp Alert": {
      "main": [[{ "node": "Log Alert Sent", "type": "main", "index": 0 }]]
    },
    "Log Alert Sent": {
      "main": [[{ "node": "Webhook Response Success", "type": "main", "index": 0 }]]
    },
    "Log Not Urgent": {
      "main": [[{ "node": "Webhook Response Not Urgent", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-06T00:00:00.000Z",
  "versionId": "1"
}
